    <footer>
        <div class="footer-content">
            <nav class="footer-nav">
                <a class="footer-text">Vous pouvez nous retrouver aussi sur</a>
                <a class="footer-nav footer-logo" href="https://fr-fr.facebook.com/toursgymclub/"><img
                        src="./images/facebook_logo.png" alt="logo FB" /></a>

            </nav>
        </div>
    </footer>
</body>

</html>