<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Accueil TGC</title>
</head>

<body>
    <header>
        <div class="header">
            <a href="/"><img id="header-picture" src="./images/logo_tgc_blanc.jpg" alt="logo_tgc" /></a>
            <nav class="header-nav">
                <ul class="header-nav_list">
                    <li><a class="header-link" href="/club">A propos du club</a></li>
                    <li><a class="header-link" href="/activites">Activitées/Tarifs</a></li>
                    <li><a class="header-link" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>