<%- include('./partials/header') %>

<main>
        <div class="club-content">

            <h1 class="club.title">Tour Gymnastique Club</h1>
            <ul>
                <li><a href="">mini baby Gymnastique eveil à l'enfance gym loisir</a></li>
                <li><a href="">gym artistique feminine</a></li>
                <li><a href="">gym artistique Masculine</a></li>
            </ul>

            <p class="club-description"></p>
        </div>
    </main>

<%- include('./partials/footer') %>