    <%- include('./partials/header') %>
    
    <main>
      <div class="club-content">
        <form method="POST" action="/contact" id="">
          <input type="hidden" name="form_state" value="first" />
          <div id="formulaire">

            <div>
              <label for="ch-id"
                >Nom <span class="Obligatoire"> * </span></label
              >
              <div >
                <input
                  class="Input"
                  name="nom"
                  type="text"
                  size="50"
                  id="ch-id"
                  placeholder="Nom"
                />
              </div>
            </div>
            <div>
              <label for="ch-prenom"
                >Prénom <span class="Obligatoire"> * </span></label
              >
              <div style="overflow: hidden">
                <input
                  class="Input"
                  name="prenom"
                  type="text"
                  size="50"
                  id="ch-prenom"
                  placeholder="Prénom"
                />
              </div>
            </div>

            <div>
              <label for="ch-tel"
                >Téléphone <span class="Obligatoire"> * </span></label
              >
              <div >
                <input
                  class="Input"
                  name="tel"
                  type="text"
                  size="50"
                  id="ch-tel"
                  placeholder="06********"
                />
              </div>
            </div>
            <div>
              <label for="ch-email"
                >Courriel <span class="Obligatoire"> * </span></label
              >
              <div >
                <input
                  class="Input"
                  name="email"
                  type="text"
                  size="50"
                  id="ch-email"
                  placeholder="Email"
                />
              </div>
            </div>
            <div>
              <label for="ch-descr"
                >Message
                <span class="Obligatoire"></span></label
              >
              <div >
                <textarea
                  class="Input"
                  name="description"
                  rows="10"
                  cols="50"
                  id="ch-descr"
                  placeholder="Votre méssage"
                ></textarea>
              </div>
            </div>
            <div class="FormSubmitButt">
              <input class="Submit" type="submit" value="Soumettre" />
            </div>
          </div>
        </form>
      </div>
    </main>

    <%- include('./partials/footer') %>
