<%- include('./partials/header') %>

    <main>
        <div class="club-content">
            <h1 class="club.title">Tour Gymnastique Club</h1>
            <p class="club-description">ici la description du club</p>
        </div>
    </main>

<%- include('./partials/footer') %>